@import 'mixins';

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0px auto;
  position: relative;

  h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #171717;
  }

  &__fanClub {
    margin: 80px 40px 0px 40px;

    @include breakpoint-between-width(525px, 1239px) {
      margin: 80px 15px 0px 15px;
    }
    @include breakpoint-between-width(320px, 524px) {
      margin: 16px 15px 0px 15px;
    }

    h1 {
      height: 99px;
      font-weight: 600;
      font-size: 40px;
      line-height: 49px;
      color: #000000;
    }

    .club {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint-between-width(980px, 1239px) {
        width: 100%;
        display: grid;
        grid-template: 'P H';
      }
      @include breakpoint-between-width(525px, 979px) {
        flex-direction: column-reverse;
        align-items: center;
      }
      @include breakpoint-between-width(320px, 524px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      p {
        max-width: 677px;
        font-size: 16px;
        line-height: 28px;
        color: #4f4f4f;
        margin-top: 35px;
        margin-bottom: 27px;

        @include breakpoint-between-width(980px, 1239px) {
          margin-bottom: 43px;
        }
        @include breakpoint-between-width(525px, 979px) {
          max-width: 100%;
          margin-bottom: 48px;
        }
        @include breakpoint-between-width(320px, 524px) {
          margin-bottom: 49px;
        }
      }

      .hawk {
        width: 334px;
        height: 334px;
        background: url(../../public/images/fanclub_assets/hawk.svg) no-repeat;
        background-size: contain;
        margin: -74px 0px 0px 63px;

        @include breakpoint-between-width(980px, 1239px) {
          margin: 20px 0px 0px 63px;
        }
        @include breakpoint-between-width(525px, 979px) {
          margin: 47px 0px 0px 0px;
        }
        @include breakpoint-between-width(320px, 524px) {
          width: 290px;
          height: 290px;
          margin: 11px 0px 0px 0px;
        }
      }
    }

    .socialNetworks {
      height: 76px;

      @include breakpoint-between-width(525px, 1239px) {
        height: 81px;
      }
      @include breakpoint-between-width(320px, 524px) {
        display: flex;
        justify-content: center;
      }

      a {
        margin-right: 16px;
        border-radius: 50%;

        div:hover {
          transform: scale(1.1);
          transition: all 0.2s ease;
        }
      }
    }
  }

  hr {
    height: 1px;
    border: none;
    background: #f1f1f1;
    margin: 0px 40px 0px 40px;

    @include breakpoint-between-width(320px, 1239px) {
      margin: 0px 15px 0px 15px;
    }
  }

  &__fanAttributes {
    margin: 60px 40px 0px 40px;

    @include breakpoint-between-width(980px, 1239px) {
      margin: 78px 15px 0px 15px;
    }
    @include breakpoint-between-width(320px, 979px) {
      margin: 48px 15px 0px 15px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: 70px;

      @include breakpoint-between-width(980px, 1239px) {
        display: grid;
        grid-template:
          '1 2'
          '3 4'
          '5 6';

        > :nth-child(1),
        > :nth-child(3),
        > :nth-child(5) {
          margin-right: 57px;
        }
      }

      &__wrapp {
        max-width: 385px;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;

        @include breakpoint-between-width(980px, 1239px) {
          max-width: 446px;
        }
        @include breakpoint-between-width(525px, 979px) {
          max-width: 495px;
        }

        i {
          width: 34px;
          height: 34px;
          font-size: 34px;
          margin-right: 20px;
          margin-top: 10px;
        }

        h3 {
          max-width: 294px;
          font-size: 18px;
          line-height: 28px;
          color: #4f4f4f;
          margin-bottom: 11px;

          @include breakpoint-between-width(320px, 524px) {
            max-width: 234px;
          }
        }

        p {
          max-width: 349px;
          font-size: 14px;
          line-height: 28px;
          color: #4f4f4f;
          margin-bottom: 49px;

          @include breakpoint-between-width(980px, 1239px) {
            max-width: 446px;
          }
          @include breakpoint-between-width(320px, 979px) {
            max-width: 100%;
          }
        }
      }
    }
  }

  &__fanHistory {
    margin: 68px 40px 0px 40px;

    @include breakpoint-between-width(980px, 1239px) {
      margin: 49px 15px 0px 15px;
    }
    @include breakpoint-between-width(320px, 979px) {
      margin: 62px 15px 0px 15px;
    }

    .history {
      display: flex;
      flex-wrap: wrap;
      margin-top: 35px;

      @include breakpoint-between-width(980px, 1239px) {
        display: grid;
        grid-template: '1 2';
      }
      @include breakpoint-between-width(525px, 979px) {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 49px;
      }
      @include breakpoint-between-width(320px, 524px) {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 29px;
      }

      p {
        max-width: 671px;
        font-size: 16px;
        line-height: 28px;
        color: #4f4f4f;

        @include breakpoint-between-width(525px, 979px) {
          max-width: 100%;
        }
      }

      .photo {
        max-width: 449px;
        padding-left: 40px;

        @include breakpoint-between-width(980px, 1239px) {
          padding-left: 57px;
        }
        @include breakpoint-between-width(525px, 979px) {
          padding: 0px;
          margin-bottom: 35px;
        }
        @include breakpoint-between-width(320px, 524px) {
          padding: 0px;
          margin-bottom: 68px;
        }

        p {
          max-width: 449px;
          height: 28px;
          font-weight: 600;
          font-size: 13px;
          line-height: 28px;
          color: #4f4f4f;

          @include breakpoint-between-width(980px, 1239px) {
            max-width: 100%;
          }
        }
      }
    }
  }

  &__fanMap {
    margin: 60px 40px 0px 40px;

    @include breakpoint-between-width(980px, 1239px) {
      margin: 60px 15px 0px 15px;
    }
    @include breakpoint-between-width(525px, 979px) {
      margin: 64px 15px 0px 15px;
    }
    @include breakpoint-between-width(320px, 524px) {
      margin: 41px 15px 0px 15px;
    }

    .segmented_control {
      width: 287px;
      height: 38px;
      border-radius: 25px;
      background-color: #f8f8f8;
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 40px;

      @include breakpoint-between-width(980px, 1239px) {
        margin-top: 43px;
      }
      @include breakpoint-between-width(525px, 979px) {
        margin-top: 10px;
      }
      @include breakpoint-between-width(320px, 524px) {
        margin-top: 35px;
      }

      input {
        display: none;
      }

      > input:checked + label {
        width: 143.5px;
        height: 36px;
        border-radius: 25px;
        background-color: #ffffff;
        color: #000000;
        opacity: 1;
        transition: all 0.5s ease;
      }

      &__1,
      &__2 {
        width: 143.5px;
        height: 36px;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #000000;
        opacity: 0.56;
        transition: all 0.5s ease;

        &:hover {
          opacity: 0.7;
        }
      }

      &__color {
        position: absolute;
        width: 143.5px;
        height: 36px;
        border-radius: 25px;
        box-shadow: 0.2rem 0.2rem 0.5rem #ececec, -0.2rem -0.2rem 0.5rem #ffffff;
        pointer-events: none;
      }

      .tab_1:checked ~ .segmented_control__color {
        transform: translateX(0);
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      .tab_2:checked ~ .segmented_control__color {
        transform: translateX(145px);
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }

    > .ymaps_layers_pane {
      margin-top: 41px;

      > div {
        width: 100% !important;
        height: 446px !important;
        border-radius: 20px;
        overflow: hidden;
        margin: 0px auto;

        @include breakpoint-between-width(980px, 1239px) {
          height: 353px !important;
        }
        @include breakpoint-between-width(525px, 979px) {
          height: 184px !important;
        }
        @include breakpoint-between-width(320px, 524px) {
          height: 108px !important;
        }

        [class*='ymaps-2'][class*='-ground-pane'] {
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale") !important;
          -webkit-filter: grayscale(100%) !important;
        }

        [class*='ymaps-2'][class*='-controls__control'] {
          inset: 200px 8.29px auto auto !important;

          [class^='ymaps-2'][class*='-zoom__plus'],
          [class^='ymaps-2'][class*='-zoom__minus'] {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
          }

          @include breakpoint-between-width(980px, 1239px) {
            inset: 150px 6.79px auto auto !important;
          }
          @include breakpoint-between-width(525px, 979px) {
            inset: 60px 3.54px auto auto !important;
          }
          @include breakpoint-between-width(320px, 524px) {
            inset: 20px 3.54px auto auto !important;
          }
        }
      }
    }

    .list {
      margin-top: 41px;
      display: grid;
      grid-template:
        'sidebar A A A A'
        'sidebar B B B B'
        'sidebar C C C C';

      @include breakpoint-between-width(320px, 979px) {
        display: flex;
        flex-wrap: wrap;
      }

      > :nth-child(1) {
        grid-area: sidebar;
        width: 360px;
        height: 260px;

        @include breakpoint-between-width(525px, 979px) {
          width: 495px;
          height: 130px;
        }
        @include breakpoint-between-width(320px, 524px) {
          width: 290px;
          height: 210px;
        }
      }

      .country {
        font-weight: 600;
        font-size: 13.5px;
        line-height: 20px;
        color: #171717;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include breakpoint-between-width(320px, 979px) {
          margin-bottom: 5px;
        }

        &__1 {
          height: 26px;

          @include breakpoint-between-width(320px, 979px) {
            height: 20px;
          }
        }

        .city {
          width: 160px;
          font-weight: 400;
          font-size: 13.2px;
          line-height: 28.5px;
          color: #4f4f4f;

          @include breakpoint-between-width(525px, 979px) {
            width: 123px;
            font-size: 12px;
            line-height: 22.5px;
          }
          @include breakpoint-between-width(320px, 524px) {
            width: 145px;
            font-size: 12px;
            line-height: 22.5px;
          }
        }
      }
    }

    .inactive {
      display: none;
    }
  }

  &__fanPhotos {
    margin: 60px 40px 0px 40px;

    @include breakpoint-between-width(525px, 1239px) {
      margin: 60px 15px 0px 15px;
    }
    @include breakpoint-between-width(320px, 524px) {
      margin: 40px 15px 0px 15px;
    }

    .fansPhotos {
      margin-top: 40px;
      display: grid;
      grid-gap: 9px;
      grid-template:
        'sidebar sidebar photo1'
        'sidebar sidebar photo2'
        'photo3 photo4 photo5'
        'photo6 photo7 photo8';

      @include breakpoint-between-width(980px, 1239px) {
        grid-gap: 7px;
      }
      @include breakpoint-between-width(525px, 979px) {
        grid-template:
          'sidebar sidebar'
          'sidebar sidebar'
          'photo1 photo2'
          'photo3 photo4'
          'photo5 photo6'
          'photo7 photo8';
        grid-gap: 6px;
      }
      @include breakpoint-between-width(320px, 524px) {
        display: flex;
        flex-wrap: wrap;
      }

      img {
        width: 100%;
      }

      > :nth-child(1) {
        grid-area: sidebar;
      }
    }
  }

  &__fanInteraction {
    margin: 96.79px 40px 81px 40px;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint-between-width(980px, 1239px) {
      margin: 60px 15px 45px 15px;
      display: grid;
      grid-template: '1 2';
    }
    @include breakpoint-between-width(320px, 979px) {
      margin: 60px 15px 0px 15px;
    }

    .description {
      max-width: 700px;

      @include breakpoint-between-width(980px, 1239px) {
        width: 486px;
      }

      > :nth-child(1) {
        @include breakpoint-between-width(980px, 1239px) {
          width: 900px;
        }
      }

      > :nth-child(2) {
        max-width: 687px;
        font-size: 16px;
        line-height: 28px;
        color: #4f4f4f;
        margin: 35px 0px 20px 0px;

        @include breakpoint-between-width(980px, 1239px) {
          margin: 72px 0px 14px 0px;
        }
        @include breakpoint-between-width(525px, 979px) {
          margin-bottom: 15px;
        }
        @include breakpoint-between-width(320px, 524px) {
          margin: 20px 0px 40px 0px;
        }
      }

      .communication {
        display: flex;
        flex-wrap: wrap;

        .manager {
          width: 376px;

          > :nth-child(1) {
            width: 310.9px;
            height: 59px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #171717;

            @include breakpoint-between-width(980px, 1239px) {
              width: 477px;
              height: 60px;
            }
            @include breakpoint-between-width(525px, 979px) {
              width: 477px;
              height: 40px;
              margin-bottom: 20px;
            }
            @include breakpoint-between-width(320px, 524px) {
              width: 290px;
              margin-bottom: 20px;
            }
          }

          > :nth-child(2) {
            max-width: 311px;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #e80505;
          }

          > :nth-child(3) {
            max-width: 311px;
            font-size: 16px;
            line-height: 26px;
            color: #4f4f4f;

            @include breakpoint-between-width(980px, 1239px) {
              height: 80px;
            }
            @include breakpoint-between-width(525px, 979px) {
              margin-bottom: 20px;
            }
            @include breakpoint-between-width(320px, 524px) {
              margin-bottom: 40px;
            }
          }
        }

        > :nth-child(2) {
          width: 310.9px;
          height: 59px;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-decoration-line: underline;
          color: #e80505;

          @include breakpoint-between-width(980px, 1239px) {
            width: 477px;
            height: 40px;
          }
          @include breakpoint-between-width(525px, 979px) {
            width: 477px;
            margin-bottom: 31px;
          }
          @include breakpoint-between-width(320px, 524px) {
            margin-bottom: 20px;
          }
        }
      }
    }

    .shop {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint-between-width(980px, 1239px) {
        margin-top: 110px;
      }
      @include breakpoint-between-width(320px, 979px) {
        width: 100%;
        justify-content: center;
      }

      .product {
        width: 223px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        text-align: center;
        padding-top: 30px;
        margin: 3px;

        @include breakpoint-between-width(525px, 979px) {
          margin-bottom: 78px;
        }
        @include breakpoint-between-width(320px, 524px) {
          margin: 5px;
        }

        > :nth-child(2) {
          height: 20px;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: #000000;
          margin-top: 13px;
        }

        > :nth-child(3) {
          height: 20px;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #000000;
        }

        button {
          width: 183px;
          height: 40px;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.01em;
          color: #ffffff;
          background: #e80505;
          opacity: 0.9;
          cursor: pointer;
          border: none;
          border-radius: 31.7187px;
          margin-top: 15px;

          &:hover {
            transition: all 0.2s ease;
            box-shadow: 0px 0.2px 7px #ea1e1ecb;
          }

          @include breakpoint-between-width(320px, 979px) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &__fanForm {
    max-width: 1240px;
    height: 344.96px;
    background: url('../../public/images/fanclub_assets/backform.png') no-repeat
      center;

    @include breakpoint-between-width(980px, 1239px) {
      height: 345px;
    }
    @include breakpoint-between-width(525px, 979px) {
      height: 452px;
      background: none;
    }
    @include breakpoint-between-width(320px, 524px) {
      height: 580px;
      margin-top: 140px;
      background: none;
    }

    .form {
      padding-top: 42px;

      @include breakpoint-between-width(320px, 979px) {
        padding: 0px;
      }

      form {
        width: 974.58px;
        height: 260.39px;
        background: #ffffff;
        border-radius: 16px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint-between-width(980px, 1239px) {
          width: 770.24px;
          height: 254.26px;
        }
        @include breakpoint-between-width(525px, 979px) {
          width: 495px;
          padding-top: 40px;
        }
        @include breakpoint-between-width(320px, 524px) {
          width: 290px;
          flex-direction: row;
        }

        > :nth-child(1) {
          width: 270px;
          height: 226.9px;

          @include breakpoint-between-width(320px, 1239px) {
            width: 205.79px;
            height: 179.55px;
          }
        }

        .form_main {
          width: 670px;
          height: 260.39px;

          @include breakpoint-between-width(980px, 1239px) {
            width: 530px;
            height: 254.26px;
          }
          @include breakpoint-between-width(525px, 979px) {
            width: 258px;
            margin-left: 30px;
          }
          @include breakpoint-between-width(320px, 524px) {
            width: 290px;
          }

          > :nth-child(1) {
            max-width: 601.59px;
            height: 32.94px;
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
            color: #171717;
            margin: 28.85px 0px 16.91px 0px;

            @include breakpoint-between-width(980px, 1239px) {
              height: 55px;
            }
            @include breakpoint-between-width(525px, 979px) {
              margin: -30px 0px 45px -235px;
            }
            @include breakpoint-between-width(320px, 524px) {
              margin: -270px 0px 260px 0px;
            }
          }

          .form_wrap {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 13px;

            @include breakpoint-between-width(980px, 1239px) {
              margin-bottom: 5px;
            }
            @include breakpoint(525px) {
              width: 258px;
              display: grid;
              grid-template:
                'select1'
                'select2'
                'input1'
                'input2';

              > :nth-child(1) {
                grid-area: select1;
              }
              > :nth-child(2) {
                grid-area: input1;
              }
              > :nth-child(3) {
                grid-area: input2;
              }
              > :nth-child(4) {
                grid-area: select2;
              }
            }
            @include breakpoint(320px) {
              width: 290px;
            }

            select {
              width: 241.13px;
              height: 33.49px;
              background: #ffffff;
              border: 1px solid #e6e6e6;
              box-sizing: border-box;
              border-radius: 3px;
              margin: 0px 19.39px 13.88px 0px;
              padding-left: 14px;
              cursor: pointer;

              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 18px;
              color: #8c8c8c;

              &:hover {
                transition: all 0.2s ease;
                box-shadow: 0px 0.2px 7px #ececec;
              }

              @include breakpoint-between-width(980px, 1239px) {
                width: 190.57px;
                height: 32.7px;
                padding-left: 7px;
                margin: 0px 15px 13px 0px;
              }
              @include breakpoint-between-width(525px, 979px) {
                width: 258px;
                height: 43px;
                margin: 0px 0px 15px 0px;
              }
              @include breakpoint-between-width(320px, 524px) {
                width: 290px;
                height: 43px;
                margin: 0px 0px 15px 0px;
              }
            }

            .input {
              width: 180.01px;
              height: 33.49px;
              background: #ffffff;
              border: 1px solid #e7e7e7;
              box-sizing: border-box;
              border-radius: 3px;
              margin: 0px 19.39px 13.88px 0px;
              padding-left: 14px;
              cursor: pointer;

              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 18px;
              color: #8c8c8c;

              &:hover {
                transition: all 0.2s ease;
                box-shadow: 0px 0.2px 7px #ececec;
              }

              @include breakpoint-between-width(980px, 1239px) {
                width: 142.27px;
                height: 32.7px;
                padding-left: 7px;
                margin: 0px 15px 13px 0px;
              }
              @include breakpoint-between-width(525px, 979px) {
                width: 258px;
                height: 43px;
                margin: 0px 0px 15px 0px;
              }
              @include breakpoint-between-width(320px, 524px) {
                width: 290px;
                height: 43px;
                margin: 0px 0px 15px 0px;
              }
            }

            .giftwrap {
              height: 33.49px;
              display: flex;
              align-items: center;
              font-size: 16px;
              line-height: 20px;
              color: #000000;

              > :nth-child(1) {
                width: 17.23px;
                height: 15.91px;
                background: #ffffff;
                border: 1px solid #b6b6b6;
                box-sizing: border-box;
                border-radius: 4px;
                margin: 0px;
              }

              > :nth-child(2) {
                height: 15.91px;
                margin-left: 10px;
              }
            }
          }

          .button {
            @include breakpoint-between-width(525px, 979px) {
              margin-top: -40px;
              display: grid;
            }
            @include breakpoint-between-width(320px, 524px) {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
            }

            .total {
              width: 135.62px;
              height: 24.22px;
              font-size: 15px;
              line-height: 18px;
              color: #8c8c8c;

              @include breakpoint-between-width(525px, 979px) {
                width: 100%;
                margin: 0px 0px 0px -170px;
              }
              @include breakpoint-between-width(320px, 524px) {
                width: 130px;
                margin: 10px 0px 20px 0px;
              }

              b {
                width: 135.62px;
                height: 24.22px;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                color: #171717;
                margin-left: 5px;
                margin-right: 25px;

                @include breakpoint-between-width(320px, 524px) {
                  margin-right: 0px;
                }
              }
            }

            button {
              width: 180.01px;
              height: 37.68px;
              background: #e80505;
              opacity: 0.9;
              border: none;
              border-radius: 31.7187px;
              font-weight: 600;
              font-size: 14px;
              line-height: 25px;
              text-align: center;
              letter-spacing: 0.01em;
              cursor: pointer;
              color: #ffffff;

              &:hover {
                transition: all 0.2s ease;
                box-shadow: 0px 0.2px 7px #ea1e1ecb;
              }

              @include breakpoint-between-width(980px, 1239px) {
                width: 142.27px;
                height: 29.81px;
              }
              @include breakpoint-between-width(525px, 979px) {
                width: 495px;
                height: 29.81px;
                margin: 35px 0px 0px -237px;
              }
              @include breakpoint-between-width(320px, 524px) {
                width: 290px;
                height: 29.81px;
                margin-bottom: 27px;
              }
            }
          }
        }
      }
    }
  }
}
