$icomoon-font-family: 'omsk-wings' !default;
$icomoon-font-path: '../fonts/omsk-wings' !default;

$icon-aim: '\e900';
$icon-alarm: '\e901';
$icon-arena: '\e902';
$icon-arrow-down: '\e903';
$icon-arrow-up: '\e904';
$icon-clap: '\e905';
$icon-clothes: '\e906';
$icon-cup: '\e907';
$icon-entrance: '\e908';
$icon-facebook: '\e909';
$icon-fist: '\e90a';
$icon-flag: '\e90b';
$icon-instagram: '\e90c';
$icon-inst-header: '\e90d';
$icon-location: '\e90e';
$icon-lock: '\e90f';
$icon-luggage: '\e910';
$icon-mask: '\e911';
$icon-medal: '\e912';
$icon-mini-arrow-down: '\e913';
$icon-mini-arrow-up: '\e914';
$icon-pdf: '\e915';
$icon-penta: '\e916';
$icon-people: '\e917';
$icon-puck: '\e918';
$icon-route: '\e919';
$icon-seats: '\e91a';
$icon-shield: '\e91b';
$icon-square: '\e91c';
$icon-sticks: '\e91d';
$icon-team: '\e91e';
$icon-ticket: '\e91f';
$icon-ticket1: '\e920';
$icon-t-shirt: '\e921';
$icon-twitter: '\e922';
$icon-twitter-header: '\e923';
$icon-vk: '\e924';
$icon-vk-header: '\e925';
$icon-web: '\e926';
$icon-youtube-header: '\e927';
