// colors
$black800Color: #2d2e31;
$grey400Color: #c0c2c3;
$grey150Color: #f3f3f3;
$grey100Color: #f6f6f6;
$whiteColor: #fff;

// font sizes
$baseMarkupWidth: 378px;
$fontSizePrimary: 14px;

// globals
$appMinWidth: 320px;
$appHorizontalOffset: 20px;
